* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-family: 'Roboto Slab', serif;
  font-weight: var(--font-weight);
}

p {
  line-height: 28px;
}

a {
  // React Click events not firing on mobile
  // @see https://stackoverflow.com/a/27525707
  cursor: pointer;

  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--heading-color);
  }
}

h2,
h3 {
  font-weight: var(--font-weight);
}

h2 {
  color: var(--heading-color);
}

h3 {
  color: var(--highlight-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.container {
  display: grid;
  justify-items: center;
}

.section {
  width: 44%;
  min-width: 640px;

  .header {
    grid-area: header;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }
}

pre {
  // Wrap text and maintain white-space within the pre tag.
  white-space: pre-wrap;
  overflow: auto;
}

@media screen and (max-width: 660px) {
  .section {
    min-width: auto;
    width: 98%;
  }
}

/**
 * TODO: Fix issue where the <pre> is overflowing
 * the grid element.
 */
pre {
  @media screen and (max-width: 660px) {
    width: 500px;
    white-space: normal;
  }

  @media screen and (max-width: 600px) {
    width: 440px;
  }

  @media screen and (max-width: 550px) {
    width: 390px;
  }

  @media screen and (max-width: 549px) {
    width: 330px;
  }

  @media screen and (max-width: 414px) {
    width: 320px;
  }

  @media screen and (max-width: 370px) {
    width: 300px;
  }
}
