.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "title nav nav nav";
  align-items: center;
  padding-bottom: 4em;

  .title {
    grid-area: title;
    font-family: var(--font-serif);
    font-size: 32px;
    letter-spacing: normal;
    margin-top: 21.4px;
    margin-bottom: 21.4px;
    text-align: left;

    a {
      color: var(--color-heading-h1);
      font-weight: var(--font-weight);

      &:hover,
      &:focus {
        color: var(--color-highlight);
      }
    }
  }

  .nav {
    grid-area: nav;
    display: inline-block;
    text-align: right;
  }

  .nav-item {
    margin-left: 2em;
  }

  .header-item {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding-bottom: 2em;

    .nav-item {
      margin-left: 0.65em;
    }
  }
}

@media screen and (max-width: 370px) {
  .header {
    padding-bottom: 0.7em;
  }
}
