.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "title nav nav nav";
  align-items: center;
  padding-bottom: 4em;

  .title {
    grid-area: title;
    font-family: $font-serif;
    font-size: 32px;
    letter-spacing: normal;
    margin-top: 21.4px;
    margin-bottom: 21.4px;
    text-align: left;

    a {
      color: $color-heading-h1;
      font-weight: $font-weight;

      &:hover,
      &:focus,
      &:active {
        color: $color-highlight;
      }
    }
  }

  .nav {
    grid-area: nav;
    display: inline-block;
    text-align: right;
  }

  .nav-item {
    margin-left: 2em;

    &.active {
      border-bottom: 2px solid;
      border-image: linear-gradient(to right,  $color-highlight 10%, $color-heading-h1) 5;
      // Safari: We need to specify where to border,
      // or else, a square will border the element.
      border-image-width: 0 0 2px 0;
      padding-bottom: 3px;
    }

    &:focus {
      color: $color-link;
    }
  }

  .header-item {
    display: inline-block;
  }
}

@media screen and (max-width: $padding-max-width-sm) {
  .header {
    padding-bottom: 2em;

    .nav-item {
      margin-left: 0.65em;
    }
  }
}

@media screen and (max-width: $padding-max-width-xs) {
  .header {
    padding-bottom: 0.7em;
  }
}
