.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "a b b b";
  align-items: center;
  padding-bottom: 4em;

  .title {
    font-size: 32px;
    grid-area: a;
    margin-top: 21.4px;
    margin-bottom: 21.4px;
    text-align: left;

    a {
      color: var(--heading-color);
      font-weight: var(--font-weight);

      &:hover {
        color: var(--highlight-color);
      }
    }
  }

  .nav {
    display: inline-block;
    grid-area: b;
    text-align: right;
  }

  .nav-item {
    margin-left: 2em;
  }

  .header-item {
    display: inline-block;
  }
}

@media screen and (max-width: 400px) {
  .header {
    padding-bottom: 2em;

    .nav-item {
      margin-left: 0.65em;
    }
  }
}


