// Do I want to use SCSS variables?
:root {
  --font-serif: 'Roboto Slab', serif;
  --font-sans: 'Open Sans', sans-serif;
  --font-weight: 400;
  --color-bg: #22297c;
  --color-text: rgba(255,255,255,0.7);
  --color-highlight: #00C5AF;
  --color-heading-h1: #FFF53C;
  --color-heading-h3: var(--color-highlight);
  --color-link: #f0f1f6;
  --color-link--hover: var(--color-heading-h1);
  --color-light: var(--color-link);
}
