.blogpost {
  h1 {
    font-size: 1.5em;
    margin-bottom: 6px;
  }

  .divider {
    margin-top: 3em;
  }

  .siblings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  video,
  img {
    max-width: 100%;
  }
}
