.blogpost {
  h1 {
    font-size: 1.5em;
    margin-bottom: 6px;
  }

  article {
    a {
      // React Click events not firing on mobile
      // @see https://stackoverflow.com/a/27525707
      cursor: pointer;

      color: var(--color-link);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--color-link--hover);
      }
    }
  }

  .divider {
    margin-top: 3em;
  }

  .siblings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  video,
  img {
    max-width: 100%;
  }

  blockquote:not(.twitter-tweet) {
    color: var(--color-highlight);
    quotes: "“" "”" "‘" "’";

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }

    p {
      display: inline;
    }
  }
}
