.blog {
  h2 {
    font-size: 1.3em;
    margin-bottom: 6px;
  }

  time {
    font-family: 'Roboto Slab', serif;
    font-weight: var(--font-weight);
    color: var(--highlight-color);
  }

  summary {
    margin-top: 15px;
  }

  article {
    margin-bottom: 20px;
  }
}
