.blogpost {
  h1 {
    font-size: 1.5em;
    margin-bottom: 6px;
  }

  .divider {
    margin-top: 3em;
  }

  .siblings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;

    a {
      color: var(--color-highlight);

      &:hover,
      &:focus {
        color: var(--color-light);
      }
    }
  }

  video,
  img {
    max-width: 100%;
  }

  blockquote:not(.twitter-tweet) {
    color: var(--color-highlight);
    quotes: "“" "”" "‘" "’";

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }

    p {
      display: inline;
    }
  }
}
