.blog {
  h1 {
    color: var(--heading-color);
    margin-top: 0;
    margin-bottom: 1em;
  }

  h2 {
    font-size: 1.3em;
    margin-bottom: 6px;
  }

  time {
    font-family: 'Roboto Slab', serif;
    font-weight: var(--font-weight);
    color: var(--highlight-color);
  }

  summary {
    margin-top: 15px;
  }

  article {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 660px) {
    article {
      margin-bottom: 20px;
    }
  }
}

