.main {
  border: 7px solid $color-highlight;
  box-shadow: 5px 6px 0 0 #FFF53C;
  padding: 40px;

  h3 {
    margin-top: 30px;
  }

  .detail {
    ul {
      padding-left: 20px;
    }

    li {
      padding-left: 12px;
    }
  }

  .hero {
    font-family: $font-serif;
    font-weight: $font-weight;

    a {
      color: $color-heading-h1;

      &:hover,
      &:focus,
      &:active {
        color: $color-highlight;
      }
    }

    p {
      color: $color-light;
      font-size: 1.15em;
      line-height: 27px;
    }
  }
}

article {
  :not(h2) {
    a {
      &:hover,
      &:focus,
      &:active {
        border-bottom: 1px solid;
        border-image: linear-gradient(to right,  $color-highlight 10%, $color-heading-h1) 5;
        // Safari: We need to specify where to border,
        // or else, a square will border the element.
        border-image-width: 0 0 1.5px 0;
        padding-bottom: 1px;
      }
    }
  }
}

@media screen and (max-width: $padding-max-width-sm) {
  .main {
    padding: 15px;
  }
}
