.main {
  border: 7px solid var(--highlight-color);
  box-shadow: 5px 6px 0 0 #FFF53C;
  padding: 40px;

  h3 {
    margin-top: 30px;
  }

  .detail {
    ul {
      padding-left: 20px;
    }

    li {
      padding-left: 12px;
    }
  }

  .hero {
    font-family: var(--font--serif);
    font-weight: var(--font-weight);

    a {
      color: var(--heading-color);

      &:hover,
      &:focus {
        color: var(--highlight-color);
      }
    }

    p {
      color: var(--hero-color);
      font-size: 1.15em;
      line-height: 27px;
    }
  }
}

@media screen and (max-width: 414px) {
  .main {
    padding: 15px;
  }
}
