.main {
  border: 7px solid $color-highlight;
  box-shadow: 5px 6px 0 0 #FFF53C;
  padding: 40px;

  h3 {
    margin-top: 30px;
  }

  .detail {
    ul {
      padding-left: 20px;
    }

    li {
      padding-left: 12px;
    }
  }

  .hero {
    font-family: $font-serif;
    font-weight: $font-weight;

    a {
      color: $color-heading-h1;

      &:hover,
      &:focus,
      &:active {
        color: $color-highlight;
      }
    }

    p {
      color: $color-light;
      font-size: 1.15em;
      line-height: 27px;
    }
  }

  &.index {
    h2 {
      color: $color-heading-h1;
    }
  }
}

@media screen and (max-width: $padding-max-width-sm) {
  .main {
    padding: 15px;
  }
}
